body{
  text-align: center;
  font-family:Helvetica;
}
.header_bg {
  background-image: url(../images/the-flatiron-building.png);
}
.header_bg h1{
  font-size: 70px;
  font-weight: bold;
  color:white;
}
.header_bg p a {
  font-size:18px;
  color:white;
}
.Contents h3{
  font-size: 32px;
  font-weight:bold;
}
.Contents h4{
  font-size:23px;
  font-weight:bold;
}
.Contents p{
  font-size: 14px;
}
#designed_NY{
  font-size: 23px;
  font-weight:bold;
  color: white;
}
.foter {
  text-align: left;
  font-size: 11px;
  color:white;
  background-color: dimgray;
}
.foter a{
  font-size: 16px;
  color:white;
}
